# dependencies
node_modules/

# build output
dist/
build/

# Expo (mobile)
.expo/
web-build/

# Native (mobile)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# env
.env
.env*.local

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
*.pem
